name: planaria-tracker
channels:
  - conda-forge
  - defaults

dependencies:
  - python=3.10
  - numpy
  - scipy
  - opencv
  - scikit-image
  - matplotlib
  - tqdm
  - pyyaml
  - pip
  - pip:
      - ids_peak
      - ids_peak_ipl
      - black
      - mypy
